<div class="ui inverted secondary menu">
    <a href="{{ path('home') }}" class="active item">Home</a>
    <a href="{{ path('todos.new') }}" class="item">Nouvelle liste</a>
    <a href="{{ path('todos.save') }}" class="item _saveList">Sauvegarder</a>
    <div class="right menu">
        <div class="item">
            <form action="{{ path('todos.loadListPost') }}" method="post">
                <label class="ui mini action inverted input">
                    <input type="text" placeholder="List id..." name="id">
                    <button class="ui inverted button">Ouvrir</button>
                </label>
            </form>
        </div>
    </div>
</div>