<div class="ui secondary inverted menu">
    <a href="{{ path('home') }}" class="item">Home</a>
    <a href="{{ path('todos.new') }}" class="item">Nouvelle liste</a>
    <a href="{{ path('todos.save') }}" class="item _saveList">Sauvegarder</a>
    <div class="right menu">
        <div class="item">
            <div class="ui inverted toggle checkbox _multiple">
                <input type="checkbox" id="multiple">
                <label for="multiple">Saisie multiple    </label>
            </div>
            <form action="{{ path('todos.loadListPost') }}" method="psot">
                <div class="ui action inverted input">
                    <input type="text" placeholder="List id..." name="id">
                    <button class="ui inverted button">Ouvrir</button>
                </div>
            </form>
        </div>
    </div>
</div>