<div class="ui grid">
    <div class="ten wide column">
        <div class="ui inverted segment">
            <div class="ui blue large ribbon label">
                <h3>Vos commandes</h3>
            </div>
            <h4 class="ui inverted header">
                {% if user.orders | length == 0 %}
                    Vous n'avez pas encore effectué de commande !
                {% elseif user.orders | length == 1 %}
                    Vous avez déjà passé une commande !
                {% else %}
                    Vous avez déja passé {{ user.orders | length }} commandes !
                {% endif %}
            </h4>
            {% if user.orders | length == 0 %}
                <button class="ui inverted labeled icon button" onclick="location.href='{{ path('store') }}'">
                    <i class="shopping cart icon"></i>
                    Voir le magasin
                </button>
            {% elseif user.orders | length == 1 %}
                <button class="ui inverted labeled icon button" onclick="location.href='{{ path('store.orders', [user.id]) }}'">
                    <i class="shopping bag icon"></i>
                    Voir votre commande
                </button>
            {% else %}
                <button class="ui inverted labeled icon button" onclick="location.href='{{ path('store.orders', [user.id]) }}'">
                    <i class="shopping bag icon"></i>
                    Voir vos commandes
                </button>
            {% endif %}
        </div>
    </div>
    <div class="six wide column">
        <div class="ui inverted segment">
            <div class="ui yellow large ribbon label">
                <h3>Votre Panier</h3>
            </div>
            {% if  nbArticles == 0 %}
                <h4>Votre paniers est vide !</h4>
                <div class="ui small inverted statistic">
                    <div class="value">
                        0.00 €
                    </div>
                </div>
            {% elseif nbArticles == 1 %}
                <h4>1 produit dans votre panier</h4>
                <div class="ui small inverted statistic">
                    <div class="value">
                        {{ prixPanier }} €
                    </div>
                </div>
            {% else %}
                <h4>{{ nbArticles }} articles dans votre panier</h4>
                <div class="ui small inverted statistic">
                   <div class="value">
                       {{ prixPanier }} €
                   </div>
                </div>
            {% endif %}
            <br>
            {% if nbArticles == 0 %}
                <button class="ui inverted labeled icon button" onclick="location.href='{{ path('store') }}'">
                    <i class="shopping cart icon"></i>
                    Voir le magasin
                </button>
            {% else %}
                <button class="ui inverted labeled icon button">
                    <i class="shopping bag icon"></i>
                    Voir votre panier
                </button>
            {% endif %}
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui inverted segment">
            <div class="ui green large ribbon label">
                <h3>Promotions</h3>
            </div>
            <div class="ui grid">
                {% for product in promotions %}
                <div class="ui three wide column">
                    <br>
                    {% if product.image == "" %}
                        <div class="ui grey inverted center aligned segment">
                            <i class="ui black huge cart plus icon"></i>
                        </div>
                    {% else %}
                        <img class="ui center aligned image" src="public/assets/img/{{ product.image }}.jpg" alt="">
                    {% endif %}
                    <div class="ui grid">
                        <div class="ui ten wide column">
                            <h3 class="ui inverted header">{{ product.name }}</h3>
                        </div>
                        <div class="ui six wide column">
                            <h4 class="ui red inverted aligned right header">
                                <del>{{ product.price }}</del> €
                            </h4>
                        </div>
                        <div class="ui eight wide column">
                            <h4 class="ui inverted header">
                                {{ product.promotion }} €
                            </h4>
                        </div>
                        <div class="ui eight wide column">
                            <h4 class="ui green inverted aligned right header">
                                {{ product.price + product.promotion }} €
                            </h4>
                        </div>
                        <div class="ui container">
                            <button class="ui inverted fluid button">
                                {{ product.section.name }}
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui inverted segment">
            <div class="ui brown large ribbon label">
                <h3>Consultés récemment</h3>
            </div>
        </div>
    </div>
</div>